@import url(//fonts.googleapis.com/css?family=Kaushan+Script);
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);

.notificationIcon > a {
  padding: 15px 15px 5px 5px;
  font-size: 16px;
  display: block;
  color: rgba(255, 255, 255, 0.8);
}

.notificationIcon > a:hover {
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.1);
}

.notificationIcon > a > .notificationLabel {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 2px;
  font-size: 10px;
  font-weight: normal;
  width: 15px;
  height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.headerTitle {
  width: 240px;
  text-align: center;
  font-weight: 500;
  font-family: 'Kaushan Script', cursive;
  font-size: 20px;
  line-height: 50px;
  background-color: #367fa9;
  color: #f9f9f9;
}

header {
  background-color: #3c8dbc;
}

.headerMenuButton,
.headerMenuButton:visited {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
}

.headerMenuButton:focus {
  outline: none;
  color: rgba(255, 255, 255, 0.8);
}

.headerMenuButton.active,
.headerMenuButton:active:focus {
  outline: none;
}

.headerMenuButton:hover {
  color: rgba(255, 255, 255, 1);
}

.headerMenuButton:hover {
  color: rgba(255, 255, 255, 1);
}

.quickSearch input,
.quickSearch button {
  background-color: rgba(248, 248, 248, 1);
}

.menu-column {
  background: #f4f4f4;
  -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
  box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
  width: 240px;
  height: 100%;
}

main {
  width: calc(100% - 240px);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

main h1 {
  margin: 0;
  font-size: 24px;
}

.content-header {
  padding: 15px 15px 10px 20px;
  background: #fbfbfb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

main h1 > small {
  font-size: 15px;
  display: inline-block;
  padding-left: 4px;
  font-weight: 300;
}

.breadcrumb {
  background: transparent;
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.content {
  padding: 20px 15px;
  overflow: auto;
  height: 100%;
  width: 75%;
  background: #fff;
  border: 1px solid #f4f4f4;
}

.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}

.box.box-danger {
  border-top-color: #f56954;
}

.box.box-primary {
  border-top-color: #3c8dbc;
}

.box.box-info {
  border-top-color: #00c0ef;
}

.box.box-warning {
  border-top-color: #f39c12;
}

.box.box-success {
  border-top-color: #00a65a;
}

.box {
  background: #ffffff;
  border-top: 2px solid #c1c1c1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.box-title {
  padding: 10px 10px 10px 10px;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}

.box-body {
  padding: 10px 10px 10px 10px;
  margin: 0;
}

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  background: #f9f9f9;
}

/*override bootstrap*/
.panel-group {
  margin-bottom: 0px;
}

.panel-body {
  background: #f4f4f4;
}

.panel-group .panel + .panel {
  margin-top: 0px;
}

.panel {
  border: 0px;
  border-bottom: 1px solid #dbdbdb;
}

/*override bootstrap*/
.panel-heading {
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
}

/*override bootstrap*/
.panel-heading {
  border: 0px;
  cursor: pointer;
  color: #555555;
}

.panel-heading:hover {
  color: #222;
  background: #f9f9f9;
}

.panel-title a {
  text-decoration: none;
}

.nav-link {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
  text-decoration: none;
  color: #777;
}

.nav-link:hover {
  color: #111;
  text-decoration: none;
}

.notation {
  padding: 20px;
  font-size: 24px;
  color: #777;
}

.glyphicon-chevron-down-align {
  margin-left: -2px;
}

.favorite {
  padding-top: 10px;
}

.box-title, .box-body {
  word-wrap: break-word;
  hyphens: auto;
}

.author {

  padding-left: 20px;
  padding-right: 20px;
  color: #777;
}

.right-answer .icon {
  padding: 20px;
  font-size: 24px;
  color: #f4f4f4;
  background-color: #00a65a;
}

.question .icon {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  color: #f4f4f4;
  background-color: #f56954;
}

.questionNotation {
  text-align: center;
}

.box.box-solid {
  border-top: 0px;
}

.box .box-header {
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 0px solid #f4f4f4;
  color: #444;
}

.box .box-header > .box-tools {
  padding: 5px 10px 5px 5px;
}

.box-success .icon {
  padding: 10px;
  font-size: 14px;
  color: #f4f4f4;
  background-color: #00a65a;
}

.comment-box {
  border-top: dotted 1px #aaa;
  padding-right: 10px;
  padding-left: 10px;
}
.comment{
  border-bottom: dotted 1px #ddd;
}
.comment-icon{
  margin-right: 10px;
}
